@media screen and (min-width: 1440px) {
  .baner {
    /* padding-top: 21px; */
    overflow: hidden;
    padding-top: unset;
    padding-left: unset;
    background-color: #0ff;
    display: grid;
    grid-auto-flow: column;
    // grid-template-columns: 1fr 1fr;
    border-radius: 42px 42px 0 0;
    border: 1px solid;
    font: var(--font-small);
    background: black;
    justify-content: center;
  }

  .baner button {
    width: 394.62px;
    height: 69.67px;
  }

  .baner figure {
    pointer-events: none;
  }

  .baner__figure {
    width: 207px;
    pointer-events: none;
    height: unset;
  }

  .baner > div:nth-child(1) {
    padding-top: 105px;
  }

  .baner > div:nth-child(1) > p:nth-child(2) {
    font: 500 24px / 29px Montserrat;
    width: 371.3px;
    height: 58px;
    color: #fff;
  }

  .baner > div:nth-child(1) > button:nth-child(3) {
    font: 500 18px / 22px Montserrat;
    margin-top: 52px;
    background: #fff;
    margin-bottom: 144px;
  }

  .baner > div:nth-child(1) > button:nth-child(3) {
    justify-content: space-between;
    padding: 0 28px;
  }

  .logo--white {
    width: 207px;
    height: 87px;
    margin-top: unset;
    margin-bottom: unset;
    background: unset;
    fill: white;
  }

  .hero {
    max-width: 1440px;
    width: 1206px;
    height: 100%;
    padding: unset;
  }

  .hero img {
    width: 100%;
  }
}
