@media screen and (min-width: 1440px) {
  :root {
    --title-h3: 600 36px / 43px Montserrat;
    --bold: 700 16px / 20px Montserrat;
    --parrafo-p: 500 18px / 21px Montserrat;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    display: grid;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 0 18px;
  }

  .layout {
    justify-content: center;
    padding: 0 96px;
  }

  .post {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 447px 1fr;
    margin: 100px 0;
    grid-gap: 46px;
  }

  .row1 {
    display: grid;
    align-content: start;
  }

  .row1 h2 {
    margin-bottom: 43px;
  }

  .row1 p {
    margin-bottom: 65px;
    font: 500 18px / 21px Montserrat;
  }

  .galery {
    padding-top: 40px;
    height: 686px;
  }

  .galery__title {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    margin-bottom: 58px;
  }

  .galery__title button {
    align-self: end;
  }

  .galery > h3:nth-child(1) {
    font: 500 18px / 21px Montserrat;
  }

  .galery_img p {
    margin-top: 20px;
    font: 600 18px / 21px Montserrat;
  }

  .galery_img {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: initial;
    grid-gap: 50px;
    justify-content: center;
    grid-template-r: unset;
  }

  .galery h2 {
    font-size: 48px;
    width: 536px;
    font: 700 48px / 58px Montserrat;
    margin-top: unset;
    margin-bottom: unset;
  }

  b {
    font: var(--bold);
  }

  .Breed__pictures {
    & h3 {
      font: var(--title-h3);
      margin-top: 80px;
    }

    & h3::first-letter {
      text-transform: capitalize;
    }
  }

  .BreedData {
    display: grid;
    grid-gap: 120px;
    display: flex;

    & h3 {
      font: var(--title-h3);
    }

    & figure {
      position: relative;
      display: grid;
      width: 371px;
      height: 371px;
      object-fit: cover;
      margin-left: 65px;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 2;
      position: absolute;
      border-radius: 24px;
    }

    & .catBackground {
      border-radius: 24px;
      z-index: 1;
      position: absolute;
      left: -33px;
      background-color: bisque;
      width: 100%;
      height: 100%;
      align-self: center;
      max-height: 305px;
    }

    & p {
      font: var(--parrafo-p);
      width: 600px;
      margin: 32px 0;
    }

    & p::first-letter {
      text-transform: uppercase;
    }
  }

  .Breed__wrapper {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(4, minmax(min-content, 278px));
    grid-auto-rows: 278px;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 180px;
  }

  .Breed__wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
  }

  .galery_img figure {
    width: 220px;
    height: 220px;
    overflow: hidden;
  }

  .Cat img {
    width: 220px;
    height: 220px;
    object-fit: cover;
  }

  .cats {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 27px;
  }

  .cat__3 {
    width: 238.47px;
    height: 385.87px;
    background: antiquewhite;
    border-radius: 24px;
  }

  .cat__2 {
    justify-self: right;
    width: 238.47px;
    height: 385.87px;
  }

  .cats figure {
    grid-gap: 27px;
    grid-template-columns: unset;
  }

  .cats img {
    border-radius: 24px;
  }

  .cats .cat__1 {
    width: 273.52px;
    height: 167.08px;
  }

  .cats > figure:nth-child(1) > img:nth-child(3) {
    width: 195.49px;
    height: 293.24px;
  }

  .cats .cat__2 {
    width: 238.47px;
    height: 385.87px;
    justify-self: right;
  }

  .link {
    font: 700 18px / 21px Montserrat;
    margin-top: unset;
    margin-bottom: unset;
  }

  .row1 > h2:nth-child(1) {
    font-size: 48px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0 100px;
  }

  .footer p {
    margin-top: 37px;
  }

  .footer > figure:nth-child(1) {
    margin-top: 37px;
  }

  .layout > div:nth-child(3) {
    max-width: unset;
    padding: 0 110px;
  }
}
