@media screen and (min-width: 320px) {
  :root {
    /* fonts */
    /* weight */
    --font-h1: 700 40px / 48px Montserrat;
    --font-h2: 700 18px / 22px Montserrat;
    --font-h3: 500 12px / 14px Montserrat;
    --font-h4-tags: 600 10px / 14px Montserrat;
    --font-p: 500 18px / 22px Montserrat;
    --font-small: 500 10px / 12px Montserrat;
    // margins
    --margin-hero: 24px 0;
    --marg-log-r: 8px;
    --marg-log-b: 8px;
    --marg-H2-Bottom: 18px;
    --marg-section-t: 18px;
    --marg-section-b: cal(18px * 3);
    --marg-h2-post-t: 18px;
    --marg-h2-post-b: cal(18px * 2);
    /* -Colors */
    --background: #E3E1DC;
    --black: #050709;
    --gray: #bababa;
    --off-white: #faf8f7;
    --just-white: #ffffff;
    /* -Spacing */
    --Space1b: 1rem;
    --Space2b: 1rem 2rem;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    display: grid;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 0 18px;
  }

  .layout {
    display: grid;
  }

  .logo {
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .baner {
    padding-top: 21px;
    background-color: cyan;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 135px 1fr;
    border-radius: 42px 42px 0 0;
    border: 1px solid;
    font: var(--font-small);
  }

  .baner p {
    font: var(--font-small);
  }

  .baner {
    padding-top: 21px;
    padding-left: 29px;
  }

  .baner > div:nth-child(1) > figure:nth-child(1) {
    margin-bottom: 8px;
  }

  .baner button {
    margin: 18px 0;
    margin-bottom: 25px;
    margin-top: 18px;
  }

  .galery {
    height: 550px;
    padding: 0 29px;
    padding-top: 21px;
    border-radius: 0 0 40px 40px;
    background-color: antiquewhite;
  }

  .galery_img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 13px;
    border-radius: 12px;
  }

  .galery_img figure {
    width: 135px;
    height: 135px;
    background: aliceblue;
    border-radius: 12px;
  }

  .galery h3 {
    font: var(--font-h3);
  }

  .galery hr {
    height: 3px;
    width: 33px;
    background: black;
    border: black;
    border-radius: 12px;
  }

  .galery h2 {
    font: var(--font-h2);
    margin-top: 17px;
    margin-bottom: 26px;
  }

  .galery_img p {
    font: var(--font-h4-tags);
    margin-top: 3px;
    margin-left: 1px;
  }

  .hero {
    width: 339px;
  }
}
